## Webscraping

#### In this exercise, you'll practice using BeautifulSoup to parse the content of a web page. The page that you'll be scraping, https://realpython.github.io/fake-jobs/, contains job listings. Your job is to extract the data on each job and convert into a pandas DataFrame.

#### 1. Start by performing a GET request on the url above and convert the response into a BeautifulSoup object..

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
URL = 'https://realpython.github.io/fake-jobs/'
response = requests.get(URL)
soup = BeautifulSoup(response.text, features="html.parser")

In [ ]:
soup

#### 1a. Use the .find method to find the tag containing the first job title ("Senior Python Developer"). Hint: can you find a tag type and/or a class that could be helpful for extracting this information? Extract the text from this title.

In [64]:
soup.find('h2')

In [62]:
soup.find('h2').text

'Senior Python Developer'

#### 1b. Now, use what you did for the first title, but extract the job title for all jobs on this page. Store the results in a list.

In [178]:
list = soup.findAll('h2')
job_title = [x.text for x in list]

#### 1c. Finally, extract the companies, locations, and posting dates for each job. For example, the first job has a company of "Payne, Roberts and Davis", a location of "Stewartbury, AA", and a posting date of "2021-04-08". Ensure that the text that you extract is clean, meaning no extra spaces or other characters at the beginning or end.

In [93]:
list = soup.findAll('h3')
company_name = [x.text for x in list]

In [167]:
list = soup.findAll('p', {'class': 'location'})
location = [x.text.strip() for x in list]

In [131]:
list = soup.findAll('time')
posting_date = [x.text for x in list]

#### 1d. Take the lists that you have created and combine them into a pandas DataFrame.

In [180]:
jobs_pd = pd.DataFrame({'job_title':job_title, 'company_name':company_name, 'location':location, 'posting_date':posting_date})
jobs_pd

,job_title,company_name,location,posting_date
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA",2021-04-08
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA",2021-04-08
2,Legal executive,"Jackson, Chambers and Levy","Port Ericaburgh, AA",2021-04-08
3,Fitness centre manager,Savage-Bradley,"East Seanview, AP",2021-04-08
4,Product manager,Ramirez Inc,"North Jamieview, AP",2021-04-08
...,...,...,...,...
95,Museum/gallery exhibitions officer,"Nguyen, Yoder and Petty","Lake Abigail, AE",2021-04-08
96,"Radiographer, diagnostic",Holder LLC,"Jacobshire, AP",2021-04-08
97,Database administrator,Yates-Ferguson,"Port Susan, AE",2021-04-08
98,Furniture designer,Ortega-Lawrence,"North Tiffany, AA",2021-04-08
99,Ship broker,"Fuentes, Walls and Castro","Michelleville, AP",2021-04-08